<%- include("../partials/html-head") %>
<link rel="stylesheet" href="public/stylesheets/flights/new.css">
<%- include("../partials/nav") %>  

<main>
    <h1><%= title %></h1>
    <form id="new-form" action="/flights" method="POST">
        <label for="airline-input">Airline:</label>
        <input type="text" name="airline" id="airline-input" required>
        <label for="airport-input">Airport:</label>
        <input type="text" name="airport" id="airoport-input" required>
        <label for="flightNo-input">Flight Number:</label>
        <input type="number" name="flightNo" id="flightNo-input" required>
        <label for="depart-input">Depart:</label>
        <input type="datetime-local" name="depart" id="depart-input">
        <button type="submit">Add Flight</button>
    </form>
</main>

<%- include("../partials/footer") %>  